@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');

* {
  font-family: 'Recursive';
}

.bold { font-weight: bold; }
em { font-weight: bold; font-style: normal; }
.position-absolute { position: absolute; }